{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-dark rounded">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You!</h2>
                <hr>
                <p class="text-light">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7">
				<a href="{% url 'home' %}?" class="btn shop-now-button rounded my-2">
					<span class="icon mr-2">
						<i class="fa-solid fa-house"></i>
					</span>
					<span>Return to homepage.</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}