html {
    height: 100%;
}

body {
    background: url('/media/video_game_background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.silkscreen {
    font-family: 'Silkscreen', cursive;
}

.nav-colour,
.footer-colour {
    background: #2e0a36;
}

footer {
    height: 6rem;
    font-size: 80%;
    width: 100%;
}

.footer-links,
.socials i {
    text-decoration: none;
    color: #f8f9fa;
}

.footer-links:hover,
.socials i:hover {
    color: #6c757d;
}

.follow-col {
    color: #f8f9fa;
}

.socials {
    text-align: center;
    padding: 0;
}

.socials li {
    display: inline;
}

.socials i {
    margin: 0 10px;
}

.nav-active-style:hover,
.nav-active-style:active,
.nav-active-style:focus {
    background: #95098e;
}

.logo-font {
    color: #f8f9fa;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button,
.keep-shopping,
.decrement-btn,
.increment-btn {
    background: #f8f9fa;
    color: #343a40;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
#q:hover,
#q:active,
#q:focus,
.keep-shopping:hover,
.keep-shopping:active,
.keep-shopping:focus {
    background: #95098e;
    color: #f8f9fa;
}

.decrement-btn:hover,
.decrement-btn:focus {
    background: #dc3545;
    color: #f8f9fa;
}

.increment-btn:hover,
.increment-btn:focus {
    background: #198754;
    color: #f8f9fa;
}

.box-shadowing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card img.card-img-top {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}

.product-detail-img {
    min-height: 250px;
    max-height: 250px;
}

.cart-image {
    width: 150px;
}

.update-link,
.remove-item,
.delete-btn {
    cursor: pointer;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #95098e;
    border: 1px solid #fff;
}

.allauth-form-inner-content a {
	color: #95098e; /* text-info */
    text-decoration: none;
}


/* -------------------------------- Media Queries */

/* larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 531px) {
    footer {
        font-size: 60%;
        height: 5.5rem;
    }

    .socials i {
        margin: 0 5px;
    }
}

@media (max-width: 991px) {
    .product-size {
        font-size: 70%;
    }
}