html {
    height: 100%;
}

body {
    background: url('/media/video_game_background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.silkscreen {
    font-family: 'Silkscreen', cursive;
}

.nav-colour {
    background: #2e0a36;
}

.logo-font {
    color: #f8f9fa;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #f8f9fa;
    color: #343a40;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
#q:hover,
#q:active,
#q:focus {
    background: #95098e;
    color: #f8f9fa;
}

.box-shadowing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}