{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid px-0 mb-3">
    <div class="row nav-colour box-shadowing mx-0">
        <div class="col text-center mt-3">
            <h2 class="text-light">Products{% for c in selected_categories %} | {{ c.display_name }}{% endfor %}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper">
                <select id="sort-selector" class="rounded">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class=" mt-3 text-start text-light">
                {% if current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">All Products</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="card product-card rounded bg-dark">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid bg-dark" src="{{ product.image.url }}" alt="image for {{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid bg-dark" src="{{ MEDIA_URL }}no_image.jpeg" alt="no image found for {{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0 text-light bg-dark">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer pt-0 border-0 text-start bg-dark">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold text-light">£{{ product.price }}</p>
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-light" href="{% url 'products' %}?category={{ product.category.name }}">
                                    {{ product.category.display_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                    <a class="text-danger modal-trigger" href="#modal-{{ product.id }}">Delete</a>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_superuser %}
            {% include "stock/templates/stock/includes/delete_modal.html" %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}